.navbar
{
    height:74px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
}

.logo
{
    margin-left: 32px;
    padding-left: 4px;
}

.searchbar
{
    display: flex;
    align-items: center;
}

.searchbar input
{
    padding-left: 10px;
    height: 36px;
    width: 400px;
    font-size: 14px;
    border-radius: 8px 0px 0px 8px;
    border:1px solid black;
}

.img-span
{
    width:36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    border:1px solid black;
    border-left:none;
}

.img-span img
{
    height:15px;
}

.feedback
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    height:27px;
    width: 110px;
    border-radius: 8px;
    margin-right: 32px;
    padding-right: 4px;
    cursor: pointer;
}

.hero-div
{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    background-color: black;
}

.hero-div img
{
    height:212px;
    aspect-ratio: 1/1;
}

.hero-content
{
    font-size: 32px;
    font-weight: 600;
    color: white;
}